laa:
  ccms:
    caab:
      converters:
        boolean:
          true_values:
            Y,Yes
          false_values:
            N,No
  springboot:
    starter:
      auth:
        authentication-header: "Authorization"
        authorized-clients: '[
            {
                "name": "integration-test-runner",
                "roles": [
                    "ALL"
                ],
                "token": "c196393a-f279-45ba-b5d5-f93e6d30465a"
            }
        ]'
        authorized-roles: '[
            {
                "name": "ALL",
                "URIs": [
                    "/**"
                ]
            }
        ]'
        unprotected-uris: [ "/swagger-ui.html", "/swagger-ui/**", "/v3/api-docs/**", "/favicon.ico", "/open-api-specification.yml"]
